---
name: docker-image
on:
  push:
    branches:
      - main
    paths:
      - Dockerfile
    tags:
      - v*
  workflow_dispatch:
    inputs:
      ref:
        description: "Git ref to build the image from"
        required: false
        default: "main"

concurrency:
  group: image-workflow
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Set image tags
        run: |
          REF="${{ inputs.ref || github.ref_name }}"

          if [[ "$REF" == "main" ]] || [[ "$REF" == v* ]]; then
            echo "TAGS=-t fnando/screenkit:$REF -t fnando/screenkit:latest" >> $GITHUB_ENV
          else
            echo "TAGS=-t fnando/screenkit:$REF" >> $GITHUB_ENV
          fi

      - name: Build Docker Image
        run: |
          docker build ${{ env.TAGS }} .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker Image
        run: |
          docker push --all-tags fnando/screenkit
